https://www.toptal.com/developers/gitignore/api/python
# ویرایش در https://www.toptal.com/developers/gitignore?templates=python

### پایتون ###
# فایل‌های DLL/بهینه‌سازی‌شده/کامپایل‌شده بایت
__پایکَش__/
*.py[کد]
کلاس py

افزونه‌های #C
*.بنابراین

# توزیع / بسته‌بندی
پایتون
ساخت/
رشد-تخمک/
توزیع/
دانلودها/
تخم مرغ/
.تخم مرغ/
کتابخانه/
لیب۶۴/
قطعات/
سیدیست/
متغیر/
چرخ‌ها/
اشتراک‌گذاری/چرخ‌های پایتون/
*.egg-info/
فایل .cfg نصب شده
*.تخم مرغ
مانیفست

# نصب‌کننده‌ی پای
# معمولاً این فایل‌ها توسط یک اسکریپت پایتون از روی یک الگو نوشته می‌شوند
# قبل از اینکه PyInstaller فایل exe را بسازد، تا تاریخ/اطلاعات دیگر را به آن تزریق کند.
*.مانیفست
*.مشخصات

# لاگ‌های نصب‌کننده
pip-log.txt
فایل pip-delete-this-directory.txt

# گزارش‌های تست واحد / پوشش
htmlcov/
.تاکس/
.نوکس/
پوشش
پوشش.*
کش
nosetests.xml
پوشش.xml
*.پوشش
*.py، پوشش
فرضیه/
.pytest_cache/
پوشش/

# ترجمه‌ها
*.مو
*.گلدان

# مطالب مربوط به جنگو:
*.log
local_settings.py
پایگاه داده SQLite3
db.sqlite3-journal

# موارد فلاسک:
نمونه/
.webassets-cache

# چیزهای خراشیده:
.اسکرپی

# مستندات اسفینکس
اسناد/_ساخت/

#پای‌بیلدر
.pybuilder/
هدف/

# نوت‌بوک ژوپیتر
.ipynb_checkpoints

# آی‌پایتون
پروفایل_پیش‌فرض/
فایل پیکربندی ipython.py

# پایِن‌وی
# برای یک کتابخانه یا بسته، ممکن است بخواهید این فایل‌ها را نادیده بگیرید زیرا کد ...
# برای اجرا در چندین محیط در نظر گرفته شده است؛ در غیر این صورت، آنها را در موارد زیر بررسی کنید:
# .python-version

# پیپن‌وی
# طبق pypa/pipenv#598، توصیه می‌شود Pipfile.lock را در کنترل نسخه لحاظ کنید.
# با این حال، در صورت همکاری، اگر وابستگی‌ها یا وابستگی‌های خاص پلتفرم وجود داشته باشد
# به دلیل عدم پشتیبانی از پلتفرم‌های مختلف، pipenv ممکن است وابستگی‌هایی را نصب کند که کار نمی‌کنند یا اصلاً کار نمی‌کنند
# نصب تمام وابستگی‌های مورد نیاز.
#قفل_پیپ_فایل

#شعر
# مشابه Pipfile.lock، معمولاً توصیه می‌شود Poetry.lock را در کنترل نسخه لحاظ کنید.
# این امر به ویژه برای بسته‌های دودویی توصیه می‌شود تا از تکرارپذیری اطمینان حاصل شود، و ...
# معمولاً برای کتابخانه‌ها نادیده گرفته می‌شود.
# https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#شعر.قفل

# پی‌دی‌ام
# مشابه Pipfile.lock، معمولاً توصیه می‌شود pdm.lock را در کنترل نسخه لحاظ کنید.
#pdm.قفل
# pdm پیکربندی‌های کل پروژه را در ‎.pdm.toml‎ ذخیره می‌کند، اما توصیه می‌شود آن را وارد نکنید.
# در کنترل نسخه.
# https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582؛ مورد استفاده مثلاً github.com/David-OConnor/pyflow و github.com/pdm-project/pdm
__بسته‌های_پی‌پکیج__/

#مواد کرفس
برنامه کرفس-بیت
کرفس‌بیت.پید

# فایل‌ها توسط SageMath تجزیه و تحلیل شدند
*.sage.py

# محیط‌ها
.env
.venv
محیط/
ون/
ENV/
env.bak/
venv.bak/

# تنظیمات پروژه اسپایدر
پروژه اسپایدر
.spyproject

# تنظیمات پروژه طناب
پروژه طناب

# مستندات mkdocs
/سایت

# مایپی
.mypy_cache/
.dmypy.json
dmypy.json

# بررسی نوع آتشدان
.pyre/

# تحلیلگر نوع استاتیک pytype
.pytype/

# نمادهای اشکال‌زدایی سایتون
اشکال‌زدایی سایتون/

# پای‌چارم
# الگوی خاص JetBrains در یک JetBrains.gitignore جداگانه نگهداری می‌شود که می‌تواند
# در https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore یافت می‌شود
# و می‌تواند به gitignore سراسری اضافه شود یا در این فایل ادغام شود. برای بررسی دقیق‌تر
# گزینه (توصیه نمی‌شود) می‌توانید موارد زیر را از حالت کامنت خارج کنید تا کل پوشه ایده نادیده گرفته شود.
#.ایده/

### وصله پایتون ###
# فایل پیکربندی محلی شعر - https://python-poetry.org/docs/configuration/#local-configuration
شعر.toml

# راف
.ruff_cache/

# فایل‌های پیکربندی LSP
pyrightconfig.json

# پایان https://www.toptal.com/developers/gitignore/api/python